<div class="wrapper-main">
  <div class="wrapper-top">
    <img src="https://cdn.pixabay.com/photo/2014/08/11/11/50/full-moon-415501_1280.jpg">
  </div>
  <div class="wrapper-article">
    <h3>新着記事</h3>
    <div class="wrapper-article__list">
      <ul>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
