<div class="wrapper-main">
  <div class="wrapper-top">
    <img src="https://cdn.pixabay.com/photo/2014/08/11/11/50/full-moon-415501_1280.jpg">
  </div>
  <div class="wrapper-article">
    <h3>新着記事</h3>
    <div class="wrapper-article__list">
      <ul>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
        <li>
          <a>タイトル</a>
          <a>ユーザーネーム</a>
          <i class="fa fa-ghost"></i>
        </li>
      </ul>
    </div>
    <div class="wrapper-article__side">
      <h4>恐怖ランキング</h4>
      <nav>
        <ul>
          <li>
            <p>1</p>
            井戸
          </li>
          <li>
            <p>2</p>
            廃墟
          </li>
          <li>
            <p>3</p>
            仄暗い水の底から
          </li>
          <li>
            <p>4</p>
            夜の帰り道
          </li>
          <li>
            <p>5</p>
            ミラーハウス
          </li>
          <li>
            <p>6</p>
            赤い目
          </li>
          <li>
            <p>7</p>
            長い髪の女
          </li>
          <li>
            <p>8</p>
            命日
          </li>
          <li>
            <p>9</p>
            堕天
          </li>
          <li>
            <p>10</p>
            エクソシスト
          </li>
        </ul>
      </nav>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
