<div class="wrapper-show">
  <div class="wrapper-show__article">
    <div class="title">
      <%= @article.title %>
    </div>
    <div class="text">
      <%= @article.text %>
    </div>
  </div>
  <div class="wrapper-show__comment">
    <h3>Comment</h3>
    <div class="wrapper-show__comment__submit">
      <<textarea  placeholder="コメントを入力"></textarea>
      <button>
        <image src="https://pds.exblog.jp/pds/1/201408/17/45/d0094245_12375758.png">
        <p>投稿</p>
      </button>
    </div>
    <div class="wrapper-show__comment__index">
      <p>コメント一覧</p>
      <ul>
        <li><span class="fa fa-user"></span>怖すぎ</li>
        <li><span class="fa fa-user"></span>aaaaaaaaaaaaaaaaaaaaa</li>
      </ul>
    </div>
  </div>
</div>
