.wrapper-main{
  width:100%;
  height: 100%;
  background-color:#2b2b2b;
  .wrapper-top{
    width:800px;
    margin:0 auto;
    img{
      width:800px;
      height: 300px;
    }
  }
  .wrapper-article{
    width:800px;
    padding-bottom:100px;
    margin:0 auto;
    background-color:#d3d3d3;
    h3{
      font-size:28px;
      margin-left:20px;
      padding-top:20px;
    }
    &__list{
      float:left;
      width:500px;
      background-color:#939393;
      margin: 20px 0 0 20px;
      ul{
        li{
          width:498px;
          height:50px;
          border-bottom:2px solid black;
          position: relative;
          a{
            font-size:22px;
            margin:0 10px;
            line-height: 1.5;
          }
          i{
            position: absolute;
            top:30px;
            left:15px;
            color:#a22041;
          }
        }
      }
    }
    &__side{
      float:right;
      padding:20px;
      width:210px;
      background-color:#9e8b8e;
      margin:20px 20px 0 0;
      h4{
        font-size:23px;
      }
      nav{
        ul{
          li{
             border-bottom:1px solid black;
             height: 30px;
             padding:5px 8px;
             position: relative;
             .num{
              position: absolute;
              top:10px;
             }
             .title{
              position:absolute;
              top:10px;
              left:50px;
             }
          }
        }
      }
    }
  }
}
.clearfix{
  content:"";
  clear:both;
  display: block;
}
